/* Enter your custom styles here */
.sapMLabel {
    font-size: 2.0em;
    padding-bottom: 1em;
}

.sapMText {
	font-size: 1.5em;
	padding-bottom: 1em;
}

.sapMLnk {
	font-size: 1.5em;
	padding-bottom: 1em;
}

.imageHighlight {
	border: 10px solid red;
}